<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
  <h2>Login</h2><br>
  <input type='text' placeholder = 'Username' [(ngModel)]="credentials.username" name ='username' required><br>
  <div class="password-row">
    <input [type] = "showPassword? 'text': 'password'" placeholder = 'Password ' [(ngModel)]="credentials.password" name ='password' required>
    <button type="button" (click)="showPassword = !showPassword">
      {{showPassword?'Hide': 'Show'}}
    </button>
  </div>

  <br>
  <button class="enter" type='submit'>Login</button>
</form>
