<div>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <h2 class="heading">Login</h2><br>
    <input class="form-control" type='text' placeholder = 'Username' [(ngModel)]="credentials.username" name ='username' required><br>
    <div class="password-row">
      <input class="form-control" [type] = "showPassword? 'text': 'password'" placeholder = 'Password ' [(ngModel)]="credentials.password" name ='password' required>
      <button type="button" class="app-btn outline" (click)="showPassword = !showPassword">
        {{showPassword?'Hide': 'Show'}}
      </button>
    </div>

    <br>
    <button class="app-btn" type='submit'>Login</button>
    <div id="googleBtn"></div>
  </form>
</div>
