<div>

      <button type="button" class="app-btn"
              (click)="showAddForm = !showAddForm">
        + Log Today's Lift
      </button>
  <div class="cal-header">

    <h2 class="cal-title heading">
      {{ viewDate | calendarDate:(view + 'ViewTitle') }}
    </h2>

    <button
      mwlCalendarPreviousView
      [(viewDate)]="viewDate"
      [view]="view">
      ‹
    </button>

    <button
      mwlCalendarToday
      [(viewDate)]="viewDate">
      Today
    </button>

    <button
      mwlCalendarNextView
      [(viewDate)]="viewDate"
      [view]="view">
      ›
    </button>

  </div>

  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [events]="events"
    [weekStartsOn]="1"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
  >

  </mwl-calendar-month-view>


  <ng-container *ngIf="showAddForm">
    <!-- dark backdrop -->
    <div class="modal-backdrop" (click)="showAddForm = false"></div>

    <!-- the pop-up card -->
    <section class="add-log-card" role="dialog" aria-modal="true">

      <button type="button" class="close" (click)="showAddForm = false">✕</button>

      <h3>Log Today's Lift</h3>

      <form #registerForm="ngForm" (ngSubmit)="createLog(); showAddForm = false">

        <!-- Lift & variation -->
        <select class="form-control" name="liftType" [(ngModel)]="newLift.liftType" required>
          <option value="" disabled selected hidden>Select Lift</option>
          <option *ngFor="let lift of liftOptions" [value]="lift.value">{{ lift.label }}</option>
        </select>

        <input class="form-control" name="variation"
               type="text"
               placeholder="Variation (eg Inclined, Weighted...)"
               [(ngModel)]="newLift.variation"
               required>

        <!-- Sets -->
        <div class="set-row" *ngFor="let set of sets; let i = index">
          <input class="form-control" type="number"
                  placeholder="Weight (kg)"
                  [(ngModel)]="sets[i].weight" [name]="'weight'+i" required>
          <input class="form-control" type="number"
                  placeholder="Reps"
                  [(ngModel)]="sets[i].reps" [name]="'reps'+i" required>
          <button type="button" (click)="sets.splice(i,1)" *ngIf="sets.length>1" class="delete">✕</button>
        </div>

        <button type="button" class="app-btn" (click)="sets.push({weight:null,reps:null})">+ Add Set</button>
        <br><br>
        <button type="submit" class="app-btn">Submit Log</button>
      </form>
    </section>
  </ng-container>
</div>
