<nav>
  <a class="logo-container" routerLink="/">
    <img src="/logo.png" alt="" class="logo" />
    <h2 class="heading">Elevate</h2>
  </a>
  <a routerLink="/" class="app-link">Home</a>
  <a routerLink="/profile" class="app-link">Profile</a>
  <a routerLink="/friends" class="app-link">Friends</a>
  <a routerLink="/register" class="app-link" *ngIf="!auth.isLoggedin()">Register</a>
  <a routerLink="/login" class="app-link" *ngIf="!auth.isLoggedin()">Login</a>


  <button *ngIf="auth.isLoggedin()" (click)="logout()" class="app-btn outline">Logout</button>
</nav>
