nav {
  background-color: #ffffff;
  padding: 0.01rem 5rem; /* Reduced vertical padding for a smaller height , 0.75rem 0.75rem for top botop, for left right*/
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;


  .logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .logo {
      height: 1.5rem;
      width: auto;
    }
  }

  a {
    font-size: 1.1rem;
    letter-spacing: -0.075rem;

    &:hover {
      color: #007bff; /* Using your primary color for hover */
      //font-weight: bold;
      border-radius: 4px; /* Slightly rounded corners on hover */
    }
  }

  button {
    border-radius: 5px;
    letter-spacing: -0.075rem;
    margin-left: auto; /* Pushes itself and subsequent items to the right */

    &:hover {
      color: #007bff;
    }
  }

  h2 {font-size: 1.5rem;
  }

  a[routerLink="/register"]{
    margin-left: auto; /* Pushes itself and subsequent items to the right */
  }
}
