<nav>
  <a class="logo-container nav-link" routerLink="/">
    <img src="/logo.png" alt="" class="logo" />
    <h2 class="heading">Elevate</h2>
  </a>
  <a class="nav-link" routerLink="/">Home</a>
  <a class="nav-link" routerLink="/profile">Profile</a>
  <a class="nav-link" routerLink="/friends">Friends</a>
  <a class="nav-link" routerLink="/register" *ngIf="!auth.isLoggedin()">Register</a>
  <a class="nav-link" routerLink="/login" *ngIf="!auth.isLoggedin()">Login</a>


  <button class="btn" *ngIf="auth.isLoggedin()" (click)="logout()">Logout</button>
</nav>
