/* You can add global styles to this file, and also import other style files */
@use '../node_modules/angular-calendar/scss/angular-calendar.scss' as *;
@use 'sass:map';
@use 'sass:color';
@import '../node_modules/angular-calendar/scss/variables';
@import '../node_modules/angular-calendar/scss/angular-calendar';




body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  color: #333;

}

a {
  text-decoration: none;
  padding: 2%;
  font-size: 1.4rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
}

h2 {
  font-size: 2.25rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.075rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
}

button {

  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0;
  cursor: pointer;
  background-color: white;

  font-size: 1.1rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.075rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

  &:hover {
    color: #007bff;
  }

  &:disabled {
    background-color: white;
    cursor: not-allowed;
  }
}

input,
select {
  padding: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* Calender Styling*/
/* Header */
.cal-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.75rem;

}

.cal-title {
  flex: 1;
  text-align: center;
  font-weight: bolder;
  font-size: 1.1rem;

}

.cal-header button {
  background: #f4f4f4;
  border: 1px solid #ddd;
  padding: 0.35rem 0.6rem;
  border-radius: 6px;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  transition: background 120ms;
}

.cal-header button:hover {
  background: #e9e9e9;
}

///* ---- Month-grid tweaks ---------------------------------- */
//.cal-month-view .cal-cell-row,
//.cal-month-view .cal-days,
//.cal-month-view .cal-cell {
//  border: none !important;                       /* remove grid lines */
//}

//.cal-month-view .cal-day-cell {
//  padding: 10px 0px;
//}

/* weekday header row */
.cal-month-view .cal-header .cal-cell {
  font-size: 0.85rem;
  //color: #666;
  color: black;
  font-weight: bold;
}

///* subtle hover effect */
//.cal-month-view .cal-day-cell:hover {
//  background: rgba(0, 0, 0, 0.04);
//}


.cal-day-number{
  font-size: 0.8rem !important;
  font-weight: bolder !important;
  color: black;
}



//.cal-open-day-events {
//  display: none !important;
//}

.cal-day-cell.cal-today {
  background-color: transparent !important;
}

.cal-day-cell.cal-today .cal-day-number {
  background-color: #f30000;
  color: white; /*text white so it's visible on red background */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px ;

}

.cal-month-view .cal-day-badge {
  display: none !important;
}

.cal-month-view .cal-event {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}






.cal-month-view .cal-cell-top {
  min-height: 78px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cal-events {
  flex: 1;
  align-items: flex-end;
  margin: 3px;
  line-height: 10px;
  display: flex;
  flex-wrap: wrap;
}
